<div class="container text-center my-5">
    <!-- title of section -->
    <h2>CERTIFICAT</h2>

    <hr width="10%" style="margin: 0 auto;" color="#3498db">

    <p class="my-5">« Celui qui veut atteindre un objectif lointain doit faire de petits pas. »</p>


    <div class="row">
        <div class="certificat col-lg-6">
            <div class="certificatContent">
                <img src="assets/images/attestationAngular.jpeg" alt="img not found">
            </div>
        </div>
    </div>

</div>

