<div class="container text-center my-5">
    <!-- title of section -->
    <h2>FORMATION</h2>

    <hr width="10%" style="margin: 0 auto;" color="#3498db">

    <p class="my-5">« La vie est un éternel apprentissage même si elle est à durée déterminée. »</p>


    <div class="row">
        <div class="Experience d-flex col-lg-6">
            <div class="contentExperience d-flex">
    
                <div class="barDiv">
                    <span class="barExp"></span>
                    <span class="barExp2"></span>
                </div>
    
                <div class="infoExp">
                    <h4 class="mt-3"><strong>Technicien Spécialisé en Développement Informatique</strong></h4>
                    <h6 style="text-transform: uppercase;" class="my-3">DÉVELOPPEMENT INFORMATIQUE</h6>
                    <span class="dateExp">[ 2019 - 2021]</span>
                    <p class="my-3">
                        Institut Spécialisé de Technologie Appliquée
                    </p>
                    <span class="ml-4">Casablanca, Maroc</span>
                </div>
            </div>
        </div>
    
        <div class="Experience d-flex col-lg-6">
            <div class="contentExperience d-flex">
    
                <div class="barDiv">
                    <span class="barExp"></span>
                    <span class="barExp2"></span>
                </div>
    
                <div class="infoExp">
                    <h4 class="mt-3"><strong>Bachelier Scientifique</strong></h4>
                    <h6 style="text-transform: uppercase;" class="my-3">SCIENCES DE LA VIE ET DE LA TERRE</h6>
                    <span class="dateExp">[ 2018 - 2019]</span>
                    <p class="my-3">
                        Idriss El harty
                    </p>
                    <span class="ml-4">Casablanca, Maroc</span>
                </div>
            </div>
        </div>
    </div>

</div>