<div class="container text-center my-5">
    <!-- title of section -->
    <h2>ACCUEIL</h2>

    <hr width="10%" style="margin: 0 auto;" color="#3498db">

    <!-- content of section -->

    <p class="mt-3">
        Je suis créateur de réussite. J’entreprends toujours avec autant de cœur que d'esprit les épreuves que l'on me présente ou les défis que je me lance.
    </p>

    <p class="mt-3">
        « Ce n’est pas le vent qui décide de votre destination, c’est l’orientation que vous donnez à votre voile. Le vent est pareil pour tous.» Jim Rohn
    </p>

</div>
